---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "gluster-volume-{{ item.name }}"
  namespace: default
spec:
  capacity:
    storage: "{{ item.size }}"
  accessModes:
    - ReadWriteMany
    - ReadWriteOnce
    - ReadOnlyMany
  glusterfs:
    endpoints: glusterfs-cluster
    path: "{{ item.name }}"
    readOnly: false
  persistentVolumeReclaimPolicy: Retain
