apiVersion: v1
kind: Service
metadata:
  name: glusterfs-cluster 
  namespace: default
spec:
  ports:
  - port: 24010
---
apiVersion: v1
kind: Endpoints
metadata:
  name: glusterfs-cluster 
  namespace: default
subsets:
{% for gluster_node in groups['storage'] %}
  - addresses:
      - ip: {{ gluster_node }}
    ports:
      - port: 1 
{% endfor %}
