qemu_uri = "{{ qemu_uri }}"

base_volume = {
	name = "{{ base.name }}"
	pool = "{{ base.pool }}"
}

path_cloudinit = "{{ cloudinit_path }}"

volume_pool = "{{ volume_pool }}"

network = {
	name = "{{ network.name }}"
	ip = "{{ network.ip }}"
	domain = "{{ network.domain }}"
}

nodes = [
	{% for elem in nodes %}
	{
		name = "{{ elem.name }}"
		memory = "{{ elem.memory }}"
		vcpu = "{{ elem.vcpu }}"
		network = "{{ elem.network }}"
	},
	{% endfor %}
]

storage_nodes = [
	{% for elem in storage_nodes %}
	{
		name = "{{ elem.name }}"
		memory = "{{ elem.memory }}"
		vcpu = "{{ elem.vcpu }}"
		network = "{{ elem.network }}"
	},
	{% endfor %}
]

storage_size = "{{ storage_size }}"
