qemu_uri = "{{ qemu_uri }}"

base_volume = {
	name = "{{ base.name }}"
	pool = "{{ base.pool }}"
}

paths = {
	project = "{{ project_path }}"
	tf = "{{ terraform_path }}"
	cloudinit = "{{ cloudinit_path }}"
	ssh_keys = "{{ ssh_keys_path }}"
}

volume_pool = "{{ volume_pool }}"

network = {
	name = "{{ network.name }}"
	ip = "{{ network.ip }}"
	domain = "{{ network.domain }}"
}

nodes = [
	{% for elem in nodes %}
	{
		name = "{{ elem.name }}"
		memory = "{{ elem.memory }}"
		vcpu = "{{ elem.vcpu }}"
		network = "{{ elem.network }}"
	},
	{% endfor %}
]
