#cloud-config

users:
  - name: ansible
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh_authorized_keys: {{ keys.results | selectattr('filename', 'equalto', "{{ ssh_keys_path }}/id_{{ item.name }}_rsa") | map('public_key') | list }}

fqdn: "{{ item.name }}.{{ network.domain }}"
