#cloud-config

users:
  - name: ansible
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh_authorized_keys: {{ keys.results | selectattr('item.name', 'equalto', item.name) | map(attribute='public_key') | list }}

fqdn: "{{ item.name }}.{{ network.domain }}"
