#cloud-config

users:
  - name: ansible
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ lookup('file', "{{ ssh_keys_path }}/id_{{ item.name }}_rsa.pub") }}

fqdn: "{{ item.name }}.{{ hostvars[ansible_host].network.domain }}"
